extends layout/base
block body
  .head(
      data-0="background-position:center 0px;",
      data-150="background-position:center -150px;",
      data-300="background-position:center -225px;"
    )
    .logo-container(data-0="top:5em;opacity:1;",data-300="top:10em;opacity:0;")
      img.logo.img-responsive(src="/img/logo.png")

    .logo-container.small
      img.logo.img-responsive(src="/img/logo.png")

  nav.navbar.navbar-default
    .navbar-header
      button.navbar-toggle(
        type="button", data-toggle="collapse",
        data-target="#nav-collapse"
      )
        span.sr-only Toggle nav
        span.icon-bar
        span.icon-bar
        span.icon-bar

    #nav-collapse.collapse.navbar-collapse
      .container
        ul.nav.navbar-nav
          li: a(href="#contact-me") Contact Me
          li: a(href="#about-me") About Me

  .content
    .container
      .row
        .col-sm-8.col-sm-offset-2
          h1.deck Welcome!

      .row
        .col-sm-8.col-sm-offset-2
          .words
            p.lead.
              I’m DJ Ahlure, and I’m based out of Clarksville, Tennessee. You
              can book my services for a variety of occasions like

            ul.services
              li Weddings
              li Birthday Parties
              li Graduations
              li Club and Venue Events
              li And many more!

            p.body.
              To schedule an appointment to meet with me, inquire about pricing
              for an event, or for any additional questions, you can call me at
              <strong>(931) 334-1009</strong>, or click on the Contact Me tab
              at the top of the website and leave a message, and I’ll get back
              to you expeditiously!

              Thanks for visiting!


      .row.hidden-xs
        .col-md-12.col-lg-6
          iframe.center-block(width="530",height="315",src="//www.youtube.com/embed/SqrgKc5hgYs",frameborder="0",allowfullscreen)
        .col-lg-6.hidden-md.hidden-sm
          iframe.center-block(width="530",height="315",src="//www.youtube.com/embed/fPc-X2zpRxM",frameborder="0",allowfullscreen)

  #contact-me.contact(
    data-450="background-position:-300px -300px;",
    data-600="background-position:-400px -300px;"
  )
    .container
      .row
        .col-sm-8.col-sm-offset-2
          form.form.contact-form(action="", method="",
            data-0="",
            data-500=""
          )
            .row
              .form-group.col-sm-12
                label.control-label(for="name") Name
                input.form-control(name="name")
            .row
              .form-group.col-sm-6
                label.control-label(for="email") Email
                input.form-control(name="email")
              .form-group.col-sm-6
                label.control-label(for="phone") Phone
                input.form-control(name="phone")
            .row
              .form-group.col-sm-12
                label.control-label(for="about") About Your Event
                textarea.form-control(name="about")
            .row
              .form-group.col-sm-3
                input.form-control(type="submit")

  #about-me.about-me
    .container
      .row
        .col-sm-8.col-sm-offset-2
          .words
            p.
              I’ve been a resident of Clarksville, TN for two decades; In addition to
              playing music, I also have a Graphic Design company,
              <a href="http://www.elcreativegroup.com">Elliott & Lorenson</a>
              (where some of you may recognize me from!). I typically
              spin throughout the mid-south (and guest spot elsewhere), so if
              travel is necessary for me to reach your event’s destination,
              you’re covered!

            p.
              For me, keeping the desired vibe for an event is
              paramount! I love seeing people have a great time, listening to
              music they can feel. I have professional quality equipment, music
              to fit any mood, event, or venue, and experience playing in a
              variety of unique settings. When you’re ready, give me a call to
              see how I can ensure your event stays as special as you envision
              it!


  .footer
    .container
      .row
        .col-sm-6
          p Created by <a href="http://elcreativegroup.com">E|L Creative Group</a>
        .col-sm-6
          p &copy;2013 DJ Ahlure
